label:hover{cursor:pointer}#black_background{opacity:.5;background-color:#000;width:100%;height:100%;transition:transform 1s ease-in;display:none;position:absolute;transform:translateY(100%)}.imgfitter{width:100%;height:100%}
