.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  max-width: 250px;
  background-color: #fff;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.custom-sidebar.visible {
  transform: translateX(0%);
}

.sidebar-scroll {
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .custom-sidebar {
    display: block !important;
  }
}

.active-link {
  background-color: #495057 !important; /* Dark grey highlight */
  border-left: 4px solid #ffc107; /* Yellow accent on the left */
}
