/* #label::before{
    content: "Choose";
    position: absolute;

    top:50%;
    left:50%;
    translate: -50% -50%;
    text-align: center;
    font-size: 33px;
    
} */
label:hover{
    cursor: pointer;
}



#black_background
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    transform: translateY(100%);
    transition: transform 1s ease-in;
    display: none; 
}

.imgfitter{
    height: 100%;
    width:100%;
}