.productImg{
    /* height: 600px; */
    height: 730px;
    width: 540px;
    object-fit: cover;
    background-color: rgb(247, 247, 247);
}   
.terms-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 60%;
  background: #F8FAFC;
  z-index: 1050;
}
.highlighedImage
{
    border: 2px solid rgb(39, 39, 40);
    border-radius: 5px;

}
@media screen and (max-width:768px) {
    .terms-modal{
           position: fixed; /* Ensure it's positioned relative to the viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: none; /* Remove centering transform */
    margin: 0;
    padding: 16px; /* Optional: adjust for padding */
    overflow-y: auto; /* Ensure scroll if content is long */
    border-radius: 0; /* Remove any modal rounding for full-screen */
    }
    .productImg{
        width: 100%;
        height: auto;
    }
}


.skeleton {
  background: linear-gradient(100deg, #f0f0f0 30%, #e0e0e0 38%, #f0f0f0 44%);
  background-size: 800px 104px;
  animation: loading 1.2s infinite ease-in-out;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.skeleton-img {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.skeleton-text {
  height: 20px;
  width: 70%;
  margin: 10px 0;
}

.skeleton-small {
  width: 40%;
}
