.profile-ring-wrapper {
  position: relative;
  width: 240px;
  /* height: 240px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

.profile-ring-wrapper .profile-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 4;
  border: 4px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Rings */
.ring {
  position: absolute;
  border-radius: 50%;
  border: 2px dashed #bbb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 8s linear infinite;
}

.ring1 {
  width: 240px;
  height: 240px;
  border-color: #c29eff;
  z-index: 1;
  animation-duration: 10s;
}

.ring2 {
  width: 260px;
  height: 260px;
  border-color: #ffb3c1;
  z-index: 2;
  animation-duration: 15s;
  animation-direction: reverse;
}

.ring3 {
  width: 290px;
  height: 290px;
  border-color: #00d4ff;
  z-index: 0;
  animation-duration: 20s;
}

/* Subtle Rotation */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card-profile-section{
    border: 1px solid #dee2e6 ;
      border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .card-profile-section {
    border: none;
    border-radius: 0;
    padding: 0 12px;
  }
}
