.orderImg{
    height: 200px;
    width: 200px;
}
.title{
    font-size: 19px;
}
@media (max-width:768px) {
    .orderImg{
    width: 70px;
    height: 100px;
    }
    .title{
        font-size: 14px;
    }
    
}

.placeholder {
  background-color: #dee2e6;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}



.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.custom-modal {
  background: white;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  animation: fadeIn 0.2s ease-in-out;
}

.custom-modal-header {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-modal-body {
  padding: 15px;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
