.deal-badge {
  position: absolute;
  top: 0px;
  right: -15px;
  background-color: red;
  color: white;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: bold;
  transform: rotate(30deg);
  z-index: 2;
  border-radius: 4px;
}
