.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 1050;
    transform: translateX(100%);
   
    transition: transform .4s ease-in-out;
}

.slide-in {
    transform: translateX(0);
}
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .cart-content {
    padding: 1rem;
  }
  

  @media screen and (max-width:768px) {
    .cart-container{
      width: 100%;
    }
    
  }