.mainContainer{
    width: 400px;

}

@media screen and (max-width:992px) {
    .mainContainer{
        width: 300px;
    }
    
}

@media screen and (max-width:768px) {
    .mainContainer{
        width: 100vw;
    }
    
}