.scroll-container {
  display: flex;
  /* justify-content: center; */
  overflow-x: auto;
  gap: 16px;
  padding: 12px 8px;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} 

.scroll-card {
  font-family: "meriweather";
  flex: 0 0 auto;
  width: 350px;
  scroll-snap-align: start;
  cursor: pointer;
  transition: transform 0.3s;
}

.cardImg {
  height: 400px;
  width: 100%;
  /* object-fit:cover; */
  transition: transform 0.3s;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .scroll-card {
    width: 200px;
  }

  .cardImg {
    height: 180px;
  }
}

/* Hide default scrollbar */
.scroll-container::-webkit-scrollbar {
  height: 6px;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
