
.carousel {
  position: relative;
  /* height: 450px; */
  max-width: 100%;
  overflow: hidden;
  background: transparent;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.text-section {
  font-family: "archivo";
  width: 35%;
  padding: 2rem;
  color: #000;
}

.image-section {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 12px;
}

.carousel-btn {
  font-family: "archivo";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 1.6em;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel {
    /* height: 450px; */
  }

  .carousel-slide {
    flex-direction: column-reverse; /* Always horizontal */
    align-items: center;
  }

  .text-section {
    width: 100%;
    text-align: center;

    padding: 1rem;
  }

  .image-section {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }

  .carousel-img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .carousel-btn {
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
  }
}
