/* Prevent horizontal overflow globally */
body, html {
  overflow-x: hidden;
}
.buyNowSportWear{
  background: black;;
  color: white  ;
}
.colorChanger{
  background: #F7F7F7;
}
.buyNowSportWear{
  border-radius: 0;
}
#title{
  font-family: 'Jost Variable',sans-serif ;

  font-size: 35px;
  /* text-transform: uppercase; */
  text-transform: capitalize;
}
.subTitle{
  font-family: 'Jost Variable',sans-serif ;
  font-weight: 300;
  font-style: 1px;
}
/* Optional: Ensure container doesn't exceed width */
.container-fluid {
  max-width: 100%;
  overflow-x: hidden;
}

/* Responsive fix if needed */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width:768px)
{

  .subTitle{
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    padding: 0px 16px;
    color: #F7F7F7;
  }
  #title{
    color: rgb(248, 247, 239);
    font-size: 30px;
    margin-top: 8px;
    text-transform: capitalize;
    text-align: center;
    word-spacing: 3px;
    padding: 0 45px;
  }
  .colorChanger{
    background-color: black;
  }
  .buyNowSportWear{
  border: .01rem solid white;
  }
}